params.output_dir = "output"

manifest {
    author = 'Varshini Vasudevaraja'
    homePage = 'https://github.com/varshini712/cnv-nf'
    description = 'CNV Nextflow pipeline'
    mainScript = 'main.nf'
}

report {
    enabled = true
    file = "nextflow-report.html"
}

trace {
    enabled = true
    fields = "task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes"
    file = "trace.txt"
    raw = true
}

timeline {
    enabled = true
    file = "timeline-report.html"
}

process.beforeScript = 'printf "USER:\${USER:-none} JOB_ID:\${JOB_ID:-none} JOB_NAME:\${JOB_NAME:-none} HOSTNAME:\${HOSTNAME:-none} PWD:\$PWD\n"; TIMESTART=\$(date +%s)'
process.executor = "sge"
process.queue = 'all.q'
process.module = "python/2.7.3"
process.$cnvkit.clusterOptions = "-cwd -pe threaded 4-16"


